<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>We're here to help you in your time of need. At this diffcult time let Tributes help coordinate all the difficulties of managing this process.</p>
