<% provide(:title, 'Home') %>
<div class="jumbotron">
	<h1>Welcome to Tributes</h1>
	<p>Create a digital <a href="#">Tribute</a> you can share with friends and family to honor your loved one.</p>
	<%= link_to "Start Here", signup_path, class: "btn btn-large btn-primary" %>
</div>
