<% @user ||= current_user %>
<div class="stats">
	<a href="<%= followers_tribute_path(current_user.id) %>">
		followers:
		<strong id="followers" class="stat">
			<%= @tribute.followers.count %>
		</strong>
	</a>
</div>